{% extends 'testing.html' %}
{% block content %}
<div class="container">
    <div class="row" style="margin-bottom: 175px;">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <center>
                <h1 style="color:white;">Heart Disease Predictor</h1>
            </center>
            <div class="card card-body" style="border: 1px solid black;">
                <form class="form-horizontal" action="{{ url_for('predictPage') }}" method="POST">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <input style="border: 1px solid black;" class="form-control" type="text" name="age"
                                    placeholder="age">
                                <p>age in years eg: 29-77</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input style="border: 1px solid black;" class="form-control" type="text" name="sex"
                                    placeholder="If Male then 1, if Female then 0">
                                <p>Gender</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <select style="border: 1px solid black;" name="chestPain" id="chestPain">
                                    <option value="0">0 = No Pain</option>
                                    <option value="1">1 = Very less Pain</option>
                                    <option value="2">2 = Not too extreme Pain</option>
                                    <option value="3">3 = Extreme Pain</option>
                                </select>
                                <!-- <input style="border: 1px solid black;" class="form-control" type="text" name="cp"
                                    placeholder="Chest Pain Intensity"> -->

                            </div>
                            <p>Chest Pain Intensity</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <input style="border: 1px solid black;" class="form-control" type="text" name="trestbps"
                                    placeholder="Eg:- 120/80 mmHg">
                                <p>resting blood pressure in mm Hg</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input style="border: 1px solid black;" class="form-control" type="text" name="chol"
                                    placeholder="Eg:- 200mg/dL">
                                <p>serum cholestoral in mg/dl</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input style="border: 1px solid black;" class="form-control" type="text" name="fbs"
                                    placeholder="1 = true; 0 = false">
                                <p>fasting blood sugar 120 mg/dl</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <input style="border: 1px solid black;" class="form-control" type="text" name="restecg"
                                    placeholder="resting electrocardiographic results">
                                <p>0, 1</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input style="border: 1px solid black;" class="form-control" type="text" name="thalach"
                                    placeholder="maximum heart rate achieved">
                                <p>eg: 71- 202</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input style="border: 1px solid black;" class="form-control" type="text" name="exang"
                                    placeholder="exercise induced angina (1 = yes; 0 = no)">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <input style="border: 1px solid black;" class="form-control" type="text" name="oldpeak"
                                    placeholder="ST depression induced by exercise relative to rest">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input style="border: 1px solid black;" class="form-control" type="text" name="slope"
                                    placeholder="the slope of the peak exercise ST segment">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input style="border: 1px solid black;" class="form-control" type="text" name="ca"
                                    placeholder="number of major vessels (0-3) colored by flourosopy">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input style="border: 1px solid black;" class="form-control" type="text" name="thal"
                                    placeholder="3 = normal; 6 = fixed defect; 7 = reversable defect">
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                    <input type="submit" class="btn btn-info btn-block" value="Predict">
                </form>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{% endblock %}