{% extends 'testing.html' %}
{% block content %}
<div class="container">
    <div class="row" style="margin-bottom: 175px;">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <center>
                <h1 style="color: white;">Liver Disease Predictor</h1>
            </center>
            <br>
            <div class="card card-body" style="border: 1px solid black;">
                <form class="form-horizontal" action="{{ url_for('predictPage') }}" method="POST">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input style="border: 1px solid black;" class="form-control" type="text" name="Age"
                                    placeholder="Age" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input style="border: 1px solid black;" class="form-control" type="text"
                                    name="Total_Bilirubin" placeholder="Total Bilirubin" required>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input style="border: 1px solid black;" class="form-control" type="text"
                                    name="Direct_Bilirubin" placeholder="Direct Bilirubin" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input style="border: 1px solid black;" class="form-control" type="text"
                                    name="Alkaline_Phosphotase" placeholder="Alkaline Phosphotase" required>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input style="border: 1px solid black;" class="form-control" type="text"
                                    name="Alamine_Aminotransferase" placeholder="Alamine Aminotransferase" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input style="border: 1px solid black;" class="form-control" type="text"
                                    name="Aspartate_Aminotransferase" placeholder="Aspartate Aminotransferase" required>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input style="border: 1px solid black;" class="form-control" type="text"
                                    name="Total_Protiens" placeholder="Total Protiens" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input style="border: 1px solid black;" class="form-control" type="text" name="Albumin"
                                    placeholder="Albumin" required>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input style="border: 1px solid black;" class="form-control" type="text"
                                    name="Albumin_and_Globulin_Ratio" placeholder="Albumin and Globulin Ratio" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <select style="border: 1px solid black;" class="form-control" name="Gender_Male">
                                    <option value="1">Male</option>
                                    <option value="0">Female</option>
                                </select>
                                <p>Gender</p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <input type="submit" class="btn btn-info btn-block" value="Predict">
                </form>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{% endblock %}